{% extends "layout.html" %}
{% block content %}
<div class="sentiment_container container">
    <div class="row align-items-center justify-content-center text-center">
        <h1 id="page_heading">Twitter Sentiment Analyser</h1>
        <div class="col-10 align-self-center">
            <div class="input-group sentiment_text_group">
                <textarea class="form-control" id="sentiment_text" aria-label="With textarea"></textarea>
            </div>
            <button type="button" class="btn btn-info btn-lg" id="analyse_button" onclick="getSentiment();">Analyse Sentiment</button>
        </div>
        
        
    </div>

    <div class="row align-items-center justify-content-center" style="margin-top: 5%;">
        <div class="col-10">
            <h3>Result:</h3>
            <p><i>Analyse some text in the textarea to see result</i></p>
            <br>
            <button id="result_positive" class="btn btn-lg btn-positive">Positive&nbsp;
                (<span class="degree">{{degree}}</span>%)
            </button>
            <button id="result_negative" class="btn btn-lg btn-negative">Negative&nbsp;
                (<span class="degree">{{degree}}</span>%)
            </button>
        </div>
            
    </div>
    
</div>
<script type="text/javascript">

    function getSentiment() {  
        var text = document.getElementById("sentiment_text").value;
        var dataObject = {"text":text};
        if (text.length==0){
            alert("Text cannot be empty");
        }
        else{
            $.ajax({
                type: 'POST',
                url: 'http://127.0.0.1:8000/v1/api/sentiment',
                contentType: 'application/json',
                data: JSON.stringify(dataObject),
                dataType: 'json',
                success: function (response) {

                    // alert(JSON.stringify(response));

                    console.log(response);

                    if (response.sentiment=="positive"){
                        $("#result_negative").hide();
                        $("#result_positive").show();
                    }
                    else{
                        $("#result_positive").hide();
                        $("#result_negative").show();
                    }
                    $(".degree").text(response.degree);

                },
                error: function (request, status, error) {

                    alert(error);
                }
            });
        }   
    }
</script>
{% endblock %}